@model NationalPlatform.Controllers.PlanController
@using Npgsql
@{
    var planImage = ViewData["PlanImage"];
    Console.WriteLine(planImage);
}
<head>
  @* <script type="text/javascript" src="http://code.jquery.com/jquery-3.6.0.js"></script> *@
  <link rel="stylesheet" href="~/css/main/plan/regist_plan.css">
  <script src="~/js/main/plan/regist_plan.js"></script>  
  @* <script src="~/js/main/sensor/regist_sensor.js"></script>   *@
</head>

<body>
    <div class="title">
        도면 등록
    </div>
    <div class="regist">
        <form asp-controller="Plan" asp-action="UploadImage" method="post" enctype="multipart/form-data">
            <input class="button" type="file" name="file"><br>
            <!---파일선택 컨트롤--->
            <ul>
                <li class="plan_info">도면 이름</li>
                <li><input type="text" class="plan_info_input" name="plan_image_name" style="text-align:right;"></li>
            </ul>

            <ul>
                <li class="plan_info">주소</li>
                <li><input type="text" class="plan_info_input" name="address" style="text-align:right;"></li>
            </ul>

            <ul>
                <li class="plan_info">건물 이름</li>
                <li><input type="text" class="plan_info_input" name="building_name" style="text-align:right;"></li>
            </ul>

            <ul>
                <li class="plan_info">동</li>
                <li><input type="text" class="plan_info_input" name="dong" style="text-align:right;"></li>
            </ul>

            <ul>
                <li class="plan_info">층</li>
                <li><input type="text" class="plan_info_input" name="floor" style="text-align:right;"></li>
            </ul>

            <ul>
                <li class="plan_info">호</li>
                <li><input type="text" class="plan_info_input" name="ho" style="text-align:right;"></li>
            </ul>
            <input class="button" type="submit" value="Upload">
        </form>
        
    </div>
     <div class="image">
            <img src="@planImage" width="500px" style="width:500; height:300px; border: 3px solid black;">
    </div>


    <table>
    <thread>
      <tr>
        <th>도면 이름</th>
        <th>주소</th>
        <th>건물 이름</th>
        <th>동</th>
        <th>층</th>
        <th>호</th>
        <th>삭제</th>
      </tr>
    </thread>
    <tbody>
      @using (var conn = new NpgsqlConnection(
                    "host=localhost;username=postgres;password=1234;database=nationaldb"))
        {
            try
            {
                conn.Open();
                using (var cmd = new NpgsqlCommand())
                {
                    Console.WriteLine("Start read plan");
                    cmd.Connection = conn;
                    cmd.CommandText = String.Format("SELECT plan_image_name, address, building_name, dong, floor, ho FROM plan ORDER BY plan_image_name DESC");
                    using (var reader = cmd.ExecuteReader())
                    {
                        Console.WriteLine(cmd.CommandText);
                        while (reader.Read())
                        {
                            string pName = reader.GetString(0);
                            Console.WriteLine("reader test : " + pName);
                            
                            Console.Write(reader.GetString(0) + " ");
                            @* Console.Write(reader.GetString(1) + " ");
                            Console.Write(reader.GetString(2) + " ");
                            Console.Write(reader.GetString(3) + " ");
                            Console.Write(reader.GetString(4) + " "); *@
                            @* Console.Write(reader.GetString(5) + " "); *@
                            @* Console.Write(reader.GetString(6) + " "); *@
                            Console.Write("\n");
                            
                            @* int length = 0;
                            while(reader.Read()){
                              length++;
                            } *@

                            <tr>
                              @for(int i = 0; i < 6; i++){
                                if(reader.IsDBNull(i)){
                                  Console.WriteLine("String is null");
                                  <td></td>
                                }
                                else{
                                  <td>@reader.GetString(i)</td>
                                }
                              }

                              @* <td>@reader.GetString(0)</td>
                              <td>@reader.GetString(1)</td>
                              <td>@reader.GetString(2)</td>
                              <td>@reader.GetString(3)</td>
                              <td>@reader.GetString(4)</td>
                              <td>@reader.GetString(5)</td>
                              <td>@reader.GetString(6)</td>
                              <td>@reader.GetString(7)</td> *@
                              <td>
                                <form asp-controller="Plan" asp-action="RemovePlan" method="post">
                                    <input type="hidden" value="@pName" name="planName" />
                                  @* <input type="hidden" value=@reader.GetString(0) name="planName" /> *@
                                  <input id="load_plan" type='submit' value="삭제" />
                                </form>
                              </td>
                            </tr>
                        }
                    }
                }
            }
            catch (Exception ex)
            {

            }
        }
    </tbody>
  </table>
</body>

<script>
    if ( window.history.replaceState ) {
        window.history.replaceState( null, null, window.location.href );
    }
</script>

@* <form enctype="multipart/form-data" method="post">
    <dl>
        <dt>
            <label asp-for="FileUpload.FormFile"></label>
        </dt>
        <dd>
            <input asp-for="FileUpload.FormFile" type="file">
            <span asp-validation-for="FileUpload.FormFile"></span>
        </dd>
    </dl>
    <input asp-page-handler="Upload" class="btn" type="submit" value="Upload" />
</form> *@